@charset "utf-8";

body {
    position: relative; 
    margin: 0;
    padding: 0;
    height: 100%;
}

.row {
    height: 100vh;
    overflow: hidden;
}

#left {
    overflow-y: auto;
    max-height: 100vh;
    padding: 20px;
    background-color: bisque; /* Optional: Add a background color */
}
#right {
    overflow-y: auto;
    max-height: 100vh;
    padding: 20px;
    background-color: white; /* Optional: Add a background color */
}

.row #left h3 {
    color: red;
    font-size: 17px;
}
.row #right h3 {
    color: darkblue;
    font-size: 17px;
}
.row #left a {
    text-decoration: none;
    display: block; /* Làm cho liên kết thành khối để chiếm toàn bộ dòng */
    padding: 10px; /* Thêm khoảng cách bên trong để dễ nhấn hơn */
    font-size: 13px;
}
.row #right a {
    text-decoration: none;
    display: block; /* Làm cho liên kết thành khối để chiếm toàn bộ dòng */
    padding: 10px; /* Thêm khoảng cách bên trong để dễ nhấn hơn */
    font-size: 13px;
    color:darkgreen;
}
li {
    list-style-type: none;
}



/* Add styles for the highlighted link */
.row #left a {
    color: blue;
    border: 2px solid transparent;
    transition: all 0.3s ease;
}

.row #left a:hover {
    color: white; /* Thay đổi màu chữ thành màu cam khi hover */
    background-color: rgba(255, 166, 0, 0.893); /* Thay đổi màu nền thành màu cam nhạt khi hover */
    border-color: white; /* Thay đổi màu biên thành màu cam khi hover */
}

.row #left a:active {
    color: white;
    background-color: orange; /* Thay đổi màu nền thành màu cam khi nhấn */
    border-color: darkorange; /* Thay đổi màu biên thành màu cam đậm khi nhấn */
    box-shadow: 0 0 10px rgba(255, 165, 0, 0.5); /* Thay đổi hiệu ứng đổ bóng thành màu cam khi nhấn */
}


.row #right a {
    text-decoration: none; /* Xóa dấu gạch dưới của đường link trong phần tử có id là 'right' */
    transition: text-decoration 0.3s ease;
}

.row #right a:hover {
    text-decoration: underline; /* Thêm dấu gạch dưới khi hover */
}

.row #right a:active,
.row #right a:focus {
    text-decoration: underline; /* Thêm dấu gạch dưới khi nhấn hoặc khi được chọn */
}

.footer__content {
    margin-top: unset !important;
}