<footer>
    <!-- start footer__content  -->
    <div class="footer__content">
      <!-- start footer__content--left -->
      <div class="footer__content--left">
        <!-- start left-content -->
        <div class="left-content">
          <!-- start left-content--heading -->
          <div class="left-content--heading">
            <include src="./components/boxImg.html" locals='{
                "list": [
                 {"classNameFigure": "heading-img", "classNameImg" : "", "srcImg": "../assets/Pictures/V.png", "alts": "logo"}
                ]
              }'>
              </include>
          </div>
          <!-- end left-content--heading -->
  
          <!-- start left-content--body-->
          <div class="left-content--body">
            <p class="body-text">
                Trang web chia sẻ nội dung miễn phí dành cho người Việt.
            </p>
          </div>
          <!-- end left-content--body-->
  
          <!-- start left-content--footer-->
          <div class="left-content--footer">
            <include
              src="./components/boxImgLink.html"
              locals='{
                          "list" : [
                           {"classNameFigure": "footer--iconFB footer-icon", "link" : "https://www.facebook.com/tnv05", "classNameImg": "imgFB", "srcImg" : "../assets/icon/icons8-fb-96.png", "alts": "icon fb"},
                           {"classNameFigure": "footer--iconTwitter footer-icon" ,"link" : "https://github.com/thuan734655?tab=overview&from=2024-06-01&to=2024-06-21","classNameImg": "imgTwitter", "srcImg" : "../assets/icon/icons8-github-96.png", "alts": "icon github"},
                           {"classNameFigure": "footer--iconIG footer-icon",  "link" : "https://www.facebook.com/tnv05", "classNameImg": "imgIG", "srcImg" : "../assets/icon/icons8-ig-96.png", "alts": "icon IG"}
                          ]
                      }'
            >  
            </include> 
          </div>
          <!-- start left-content--footer-->
        </div>
        <!-- end left-content -->
      </div>
      <!-- end footer__content--left -->
  
      <!-- start footer__content--left -->
      <div class="footer__content--right">
        <!-- start right-content -->
        <div class="right-content">
          <include
            src="./components/navFooter.html"
            locals='{
                  "list" : [
                   {"title":"Môn Học","link1":"trangchu_Toan","contentItem1": "Toán","link2":"trangchu_ly", "contentItem2": "Lý","link3":"trangchu_hoa", "contentItem3": "Hóa", "contentItem4": ""}
                  ]
              }'
          >
          </include>

          <include
          src="./components/navFooterTagP.html"
          locals='{
                "list" : [
                {"title":"Liên hệ","contentItem1": "03289889544","contentItem2": "vanthuan678310@gamil.com", "contentItem3": "0983733857","contentItem4": "hga@gmail.com"},
                {"title":"Địa chỉ","contentItem1": "26 Huỳnh văn", "contentItem2": "45 Lê hồng","contentItem3": "", "contentItem4": "", "classNameGroup": "last-group"}
                ]
            }'
        >
        </include>
        </div>
        <!-- end right-content -->
      </div>
      <!-- end footer__content--left -->
    </div>
    <!-- start footer__content  -->
  </footer>
