<header>
 <div class="containerHeader">
  <div class="header__content">
    <include src="./components/boxImg.html" locals='{
      "list": [
       {"classNameFigure": "header__content--menu", "classNameImg" : "", "srcImg": "../assets/img/menu.png", "alts": "menu"}
      ]
    }'>
    </include> 
    <include src="./components/boxImg.html" locals='{
      "list": [
       {"classNameFigure": "header__content--logo", "classNameImg" : "", "srcImg": "../assets/Pictures/V.png", "alts": "logo"}
      ]
    }'>
    </include>
    <ul>
      <include src="./components/navList.html" locals='{
        "list" : [
         {"link": "./index.html", "content": "Trang chủ"},
         {"link": "#","idNav" : "Khoa-hoc", "content": "Khóa học"},
         {"link": "./blog.html", "idNav" : "Toan","content": "Blog"},
         {"link": "./quiiz.html", "content": "Luyện trắc nhiệm"},
         {"link": "./login.html", "content": "Đăng xuất"}
        ]
       }'>
       </include>
    </ul>
    <include src="./components/boxImg.html" locals='{
      "list": [
       {"classNameFigure": "header__content--icon-profile", "classNameImg" : "", "srcImg": "../assets/img/user.png", "alts": "icon profile"}
      ]
    }'>
    </include>

    <div class="header__content--pane-menu">
      <ul>
        <include src="./components/navList.html" locals='{
         "list" : [
          {"link": "./index.html", "content": "Trang chủ"},
          {"link": "#","idNav" : "Khoa-hoc-pane-menu",  "content": "Khóa học"},
          {"link": "./blog.html", "content": "Blog"},
          {"link": "./quiiz.html", "content": "Luyện trắc nhiệm"},
          {"link": "./login.html", "content": "Đăng xuất"}
         ]
        }'>
        </include>
      </ul>
    </div>
     <div class="header__content--subNav">
      <ul class="subNav-listNav">
        <include src="./components/navList.html" locals='{
         "list" : [
          {"link": "./toan.html", "content": "Toán"},
          {"link": "./ly.html", "content": "Lý"},
          {"link": "./hoa.html", "content": "Hóa"}
         ]
        }'>
        </include>
      </ul>
     </div>
  </div>
 </div>
</header>