<div class="giua">
    <div class="container centered text-center">
      <div class="row justify-content-center">
        <div class="col-md-4">
          <div class="card"   >
            <img src="../assets/Pictures/hoahoc.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Đề cuối kì 1 Hóa học 12 năm 2023 – 2024 trường THPT Hồ Nghinh – Quảng Nam
              </h5>
              <a href="https://thi247.com/de-cuoi-ki-1-hoa-hoc-12-nam-2023-2024-truong-thpt-ho-nghinh-quang-nam/" class="btn btn-primary">Truy cập</a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card"   >
            <img src="../assets/Pictures/hoahoc.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Đề cuối học kì 1 Hóa học 12 năm 2023 – 2024 trường THPT Bình Chiểu – TP HCM
              </h5>
              <a href="https://thi247.com/de-cuoi-hoc-ki-1-hoa-hoc-12-nam-2023-2024-truong-thpt-binh-chieu-tp-hcm/" class="btn btn-primary">Truy cập</a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card"   >
            <img src="../assets/Pictures/hoahoc.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Đề cuối học kỳ 1 Hóa học 12 năm học 2023 – 2024 sở GD&ĐT Bắc Ninh
              </h5>
              <a href="https://thi247.com/de-cuoi-hoc-ky-1-hoa-hoc-12-nam-hoc-2023-2024-so-gddt-bac-ninh/" class="btn btn-primary">Truy cập</a>
            </div>
          </div>
        </div>
      </div>
    </div> 
  <br><br>
  <div class="container centered text-center">
    <div class="row justify-content-center">
      <div class="col-md-4">
        <div class="card"   >
          <img src="../assets/Pictures/hoahoc.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Đề kiểm tra cuối học kỳ 2 Hóa học 12 năm 2022 – 2023 sở GD&ĐT Quảng Nam
            </h5>
            <a href="https://thi247.com/de-kiem-tra-cuoi-hoc-ky-2-hoa-hoc-12-nam-2022-2023-so-gddt-quang-nam/" class="btn btn-primary">Truy cập</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card"   >
          <img src="../assets/Pictures/hoahoc.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Đề cuối kì 2 Hóa học 12 năm 2023 – 2024 trường THPT Lương Ngọc Quyến – Thái Nguyên
            </h5>
            <a href="https://thi247.com/de-cuoi-ki-2-hoa-hoc-12-nam-2023-2024-truong-thpt-luong-ngoc-quyen-thai-nguyen/" class="btn btn-primary">Truy cập</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card"   >
          <img src="../assets/Pictures/hoahoc.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Đề cuối học kỳ 2 Hóa học 12 năm 2022 – 2023 sở GD&ĐT Nam <br> Định
            </h5>
            <a href="https://thi247.com/de-cuoi-hoc-ky-2-hoa-hoc-12-nam-2022-2023-so-gddt-nam-dinh/" class="btn btn-primary">Truy cập</a>
          </div>
        </div>
      </div>
    </div>
  </div> 
  
  
  
  <div class="container centered text-center">
    <div class="row justify-content-center">
      <div class="col-md-4">
        <div class="card"   >
          <img src="../assets/Pictures/hoahoc.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Đề thi chính thức môn Hóa học thi tốt nghiệp THPT 2023</h5>
            <a href="https://vietnamnet.vn/de-thi-mon-hoa-hoc-thi-tot-nghiep-thpt-nam-2023-chinh-thuc-2157324.html" class="btn btn-primary">Truy cập</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card"   >
          <img src="../assets/Pictures/hoahoc.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Đề tham khảo môn Hóa học thi tốt nghiệp THPT 2023</h5>
            <a href="https://xaydungchinhsach.chinhphu.vn/de-tham-khao-mon-hoa-hoc-thi-tot-nghiep-thpt-nam-2023-119230302161628317.htm" class="btn btn-primary">Truy cập</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card"   >
          <img src="../assets/Pictures/hoahoc.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Đề Thi Tốt Nghiệp THPT 2022 Môn Hóa Có Đáp Án-Mã Đề 224
            </h5>
            <a href="https://thuvienhoclieu.com/de-thi-tot-nghiep-thpt-2022-mon-hoa-co-dap-an-ma-de-224/" class="btn btn-primary">Truy cập</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  
  
  </div>