<main class=" bg-#F5F6FA text-white pt-3 pb-4">
  <div class="xuong1 container text-center text-md-left">
    <div class=" row text-center text-md-left d-flex justify-content-center align-items-center ">
      <div class="col-md-6 col-lg-6 col-xl-6 ">
        <h1 class="font-size-60 text-uppercase mb-4 font-weight-bold text-warning mt-5 text-dark">
          nền tảng  
        </h1>
        <h1 class="font-size-60 text-uppercase mb-4 font-weight-bold mt-3 text-primary">
          học & luyện tập
        </h1>
        <h1 class=" font-size-60 text-uppercase mb-4 font-weight-bold text-dark mt-3">
          miễn phí
        </h1>
      </div>
      <div class="col-md-6 col-lg-6 col-xl-5 mx-auto mt-none d-flex justify-content-center align-items-center">
        <h5 class="text-uppercase mb-4 font-weight-bold text-warning">
          <img src="../assets/Pictures/phai.png" style="width: 100%; height: 100%;" class="responsive-img" alt="Image">
        </h5>
      </div>
    </div>
  </div>
</main>
<div class="SanPham animate-home">
  <div class="mon animate-home">
      <img src="../assets/Pictures/Toan.png" alt="">
      <h2>Toán Học</h2>
      <p>Lộ trình học toàn diện</p>
      <a href="../Pages/toan.html" class="btn">Truy cập</a>
    
  </div>
  <div class="mon animate-home">
      <img src="../assets/Pictures/Ly.png" alt="">
      <h2>Vật Lý</h2>
      <p>Lộ trình học toàn diện</p>
      <a href="../Pages/ly.html" class="btn">Truy cập</a>
    
  </div>
  <div class="mon animate-home">
      <img src="../assets/Pictures/hoa.png" alt="">
      <h2>Hoá Học</h2>   
      <p>Lộ trình học toàn diện</p>
      <a href="../Pages/hoa.html" class="btn">Truy cập</a>
    
  </div>
  
</div>
<div class="NoiDung animate-home">
<H2 class="heading">Những gì bạn có được khi tham gia nền tảng</H2><br>

        <div class="coDuoc animate-home">
            <div class="mangLai animate-home">
                <img src="../assets/Pictures/slide.svg" alt="">
                <h2>Video bài giảng chất lượng cao</h2>
                <p>Được tạo bởi các giáo viên uy tín, xuất sắc và tận tâm. Tốt nghiệp tại các trường Đại học danh tiếng. Nguồn tài liệu được lấy từ nhiều nguồn trên toàn thế giới.</p>
              
            </div>
            <div class="mangLai animate-home">
                <img src="../assets/Pictures/check_note.svg" alt="">
                <h2>Đầy đủ bài tập, kiểm tra đầy đủ và toàn diện đảm bảo nắm vững kiến thức</h2>
                <p>Hàng 100 bộ tài liệu được cập nhật thường xuyên.</p>
              
            </div>
          </div>
        </div>
        <marquee style="background-color: white;"  scrollamount="15" >
   
          <img src="../assets/Pictures/1.png" alt="" style="margin-bottom: 1%;" class="kichthuoc">
          <img src="../assets/Pictures/4.png" alt="" class="kichthuoc">
          <img src="../assets/Pictures/5.png" alt="" class="kichthuoc">
          <img src="../assets/Pictures/6.png" alt="" class="kichthuoc">
          <img src="../assets/Pictures/learning.png" alt="" class="chinh kichthuoc">
          <img src="../assets/Pictures/test.png" alt="" class="chinh kichthuoc">
          <img src="../assets/Pictures/score.png" alt="" class="chinh kichthuoc">
          <img src="../assets/Pictures/school.png" alt="" class="chinh kichthuoc">
          <img src="../assets/Pictures/blended-learning.png" alt="" class="chinh kichthuoc">
          <img src="../assets/Pictures/study.png" alt="" class="chinh kichthuoc">
          <img src="../assets/Pictures/learning.png" alt="" class="chinh kichthuoc">
          <img src="../assets/Pictures/test.png" alt="" class="chinh kichthuoc">
          <img src="../assets/Pictures/score.png" alt="" class="chinh kichthuoc">
          
        </marquee>
        