<div class="container">
  <!-- start section-loadQuestions  -->
  <section class="section-loadQuestions">
    <h1 class="title">Luyện đề trắc nhiệm</h1>
    <div class="section-loadQuestions__top">
        <div class="section-loadQuestions__top--file-input">
            <input type="file" id="fileInput" accept=".txt" />
            <label for="fileInput" class="choose-file-btn">Chọn file câu hỏi</label>
          </div>
          <button class="section-loadQuestions__top--loadFile">Tải câu hỏi</button>
    </div>
    <textarea id="questionInput" rows="10" cols="50" placeholder="Câu hỏi sẽ nằm ở đây..."></textarea>
    <br />
    <button class="parseQuestions">Bắt đầu</button>
    <br /><br />
  </section>
  <!-- end section-listQuestions  -->
  <section class="section-listQuestions">
    <h2 class="title">Bài làm</h2>
    <div id="section-listQuestions__list-questions">
    </div>
    <button class="submitQuiz">Nộp bài</button>
  </section>
  <!-- end section-listQuestions  -->
</div>
