<div class="container centered text-center">
    <div class="xuong row justify-content-center">
      <div class="col-md-4">
        <div class="card" >
          <img src="../assets/Pictures/toan.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Đề thi Toán</h5>
            <a href="../Pages/toan.html" class="btn btn-primary">Truy cập</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card"   >
          <img src="../assets/Pictures/Screenshot 2024-05-12 231320.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Đề thi Vật lý</h5>
            <a href="../Pages/ly.html" class="btn btn-primary">Truy cập</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card"   >
          <img src="../assets/Pictures/hoahoc.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Đề thi Hoá học</h5>
            <a href="../Pages/hoa.html" class="btn btn-primary">Truy cập</a>
          </div>
        </div>
      </div>
    </div>
  </div>