<div class="container-fluid mt-6">
  <div class="row" style="text-align: center; display: flex; align-items: center; ">
    <div class="col p-3 bg-#F5F6FA " style="margin-left: 7%;">
      <H1 style="color: #000000; font-size: 80px;" >Nền Tảng</H1>
                <H1 style="color: #1479F4;font-size: 80px;">Học & Luyện Tập</H1>
                <H1 style="color: #000000;font-size: 80px;">Miễn Phí</H1>
            
    </div>
    <div class="col p-3 bg-#F5F6FA">
      <div id="phai"><img src="../assets/Pictures/phai.png" style="width: 30vw; height: 30vw;"></div>

    </div>
  </div>
</div>
<div class="SanPham">
  <div class="mon">
      <img src="../assets/Pictures/Toan.png" alt="">
      <h2>Toán Học</h2>
      <p>Lộ trình học toàn diện</p>
      <a href="../Pages/toan.html" class="btn">Truy cập</a>
    
  </div>
  <div class="mon">
      <img src="../assets/Pictures/Ly.png" alt="">
      <h2>Vật Lý</h2>
      <p>Lộ trình học toàn diện</p>
      <a href="../Pages/ly.html" class="btn">Truy cập</a>
    
  </div>
  <div class="mon">
      <img src="../assets/Pictures/Hoa.png" alt="">
      <h2>Hoá Học</h2>
      <p>Lộ trình học toàn diện</p>
      <a href="../Pages/hoa.html" class="btn">Truy cập</a>
    
  </div>
  
</div>
<div class="NoiDung">
<H2 class="heading">Những gì bạn có được khi tham gia nền tảng</H2><br>

        <div class="coDuoc">
            <div class="mangLai">
                <img src="../assets/Pictures/slide.svg" alt="">
                <h2>Video bài giảng chất lượng cao</h2>
                <p>Được tạo bởi các giáo viên uy tín, xuất sắc và tận tâm. Tốt nghiệp tại các trường Đại học danh tiếng. Nguồn tài liệu được lấy từ nhiều nguồn trên toàn thế giới.</p>
              
            </div>
            <div class="mangLai">
                <img src="../assets/Pictures/check_note.svg" alt="">
                <h2>Đầy đủ bài tập, kiểm tra đầy đủ và toàn diện đảm bảo nắm vững kiến thức</h2>
                <p>Hàng 100 bộ tài liệu được cập nhật thường xuyên.</p>
              
            </div>
          </div>
        </div>
        