<div class="container-fluid">
    <div class="row">
        <div id="left" class="col-lg-3 col-md-4">
            <h3>Chương 1:Este - Lipit</h3>
            <ul>
                <li><a href="C1_bai1_hoa.html">Bài 1: Este</a></li>
                <li><a href="C1_bai2_hoa.html">Bài 2: Lipit</a></li>
                <li><a href="C1_bai3_hoa.html">Bài 3: Khái niệm về Xà phòng và Chất giặt rửa tổng hợp </a></li>
                

            </ul>
            <hr>
            <h3>Chương 2: Cacbohiđrat</h3>
            <ul>
                <li><a href="C2_bai4_hoa.html">Bài 4: Glucozơ</a></li>
                <li><a href="C2_bai5_hoa.html">Bài 5: Saccarozơ, Tinh bột và Xenlulozơ</a> </li>
            </ul>
            <hr>
            <h3>Chương 3: Amin, Amino Axit và Protein</h3>
            <ul>
                <li><a href="C3_bai6_hoa.html">Bài 6: Amin</a></li>
                <li><a href="C3_bai7_hoa.html">Bài 7: Amino axit</a> </li>
                <li><a href="C3_bai8_hoa.html">Bài 8:  Peptit và Protein</a></li>
            </ul>
            <hr>
            <h3>Chương 4: Polime và Vật liệu polime</h3>
            <ul>
                <li><a href="C4_bai9_hoa.html">Bài 9: Đại cương về polime</a></li>
                <li><a href="C4_bai10_hoa.html">Bài 10: Vật liệu polime</a> </li>
                
                
            </ul>
            <hr>
            <h3>Chương 5: Đại cương về Kim Loại</h3>
            <ul>
                <li><a href="C5_bai11_hoa.html">Bài 11: Vị trí của kim loại trong bảng tuần hoàn và cấu tạo của kim loại</a></li>
                <li><a href="C5_bai12_hoa.html">Bài 12: Tính chất của kim loại và Dãy điện hóa của kim loại</a> </li>
                <li><a href="C5_bai13_hoa.html">Bài 13: Hợp kim</a></li>
                <li><a href="C5_bai14_hoa.html">Bài 14: Sự ăn mòn kim loại</a></li>
                <li><a href="C5_bai15_hoa.html">Bài 15: Điều chế kim loại</a></li>

            </ul>
            <hr>
            <h3>Chương 6: Kim Loại Kiềm, Kim Loại Kiềm Thổ, Nhôm</h3>
            <ul>
                <li><a href="C6_bai16_hoa.html">Bài 16: Kim loại kiềm và hợp chất quan trọng của kim loại kiềm</a></li>
                <li><a href="C6_bai17_hoa.html">Bài 17: Kim loại kiềm thổ và hợp chất quan trọng của chúng </a> </li>
                <li><a href="C6_bai18_hoa.html">Bài 18: Nhôm và hợp chất của nhôm</a></li>


            </ul>
            <hr>
            <h3>Chương 7: Sắt và Một số kim lọai quan trọng</h3>
            <ul>
                <li><a href="C7_bai19_hoa.html">Bài 19: Sắt</a></li>
                <li><a href="C7_bai20_hoa.html">Bài 20: Hợp chất của sắt </a> </li>
                <li><a href="C7_bai21_hoa.html">Bài 21: Hợp kim của sắt</a></li>
                <li><a href="C7_bai22_hoa.html">Bài 22: Crom và hợp chất của Crom</a></li>


            </ul>
        </div>
        <div id="right" class="col-lg-9 col-md-8">
            <ul>
                <li><a href="https://m.hoc247.net/hoa-hoc-12/bai-13-dai-cuong-ve-polime-l1292.html">Lý thuyết</a></li>
                <br>
                <li><a href="https://m.hoc247.net/hoa-hoc-12/bai-tap-1-trang-33-sgk-hoa-hoc-12-bt245.html">Bài 1 trang 64 Sách giáo khoa Hóa 12</a></li>
                <li><a href="https://m.hoc247.net/hoa-hoc-12/bai-tap-2-trang-33-sgk-hoa-hoc-12-bt51.html">Bài 2 trang 64 Sách giáo khoa Hóa 12</a></li>
                <li><a href="https://m.hoc247.net/hoa-hoc-12/bai-tap-3-trang-34-sgk-hoa-hoc-12-bt52.html">Bài 3 trang 64 Sách giáo khoa Hóa 12</a></li>
                <li><a href="https://m.hoc247.net/hoa-hoc-12/bai-tap-4-trang-34-sgk-hoa-hoc-12-bt54.html">Bài 4 trang 64 Sách giáo khoa Hóa 12</a></li>
                <li><a href="https://m.hoc247.net/hoa-hoc-12/bai-tap-5-trang-34-sgk-hoa-hoc-12-bt55.html">Bài 5 trang 64 Sách giáo khoa Hóa 12</a></li>
                <li><a href="https://m.hoc247.net/hoa-hoc-12/bai-tap-6-trang-34-sgk-hoa-hoc-12-bt57.html">Bài 6 trang 64 Sách giáo khoa Hóa 12</a></li>
                <br>
                <li><a href="https://hoc247.net/hoa-hoc-12/bai-tap-6-1-trang-14-sbt-hoa-hoc-12-bt10999.html">Bài 1 trang 27 Sách bài tập Hóa 12</a></li>
                <li><a href="https://m.hoc247.net/hoa-hoc-12/bai-tap-6-2-trang-14-sbt-hoa-hoc-12-bt11010.html">Bài 2 trang 27 Sách bài tập Hóa 12</a></li>
                <li><a href="https://m.hoc247.net/hoa-hoc-12/bai-tap-6-3-trang-14-sbt-hoa-hoc-12-bt11012.html">Bài 3 trang 27 Sách bài tập Hóa 12</a></li>
                <li><a href="https://m.hoc247.net/hoa-hoc-12/bai-tap-6-4-trang-14-sbt-hoa-hoc-12-bt11013.html">Bài 4 trang 28 Sách bài tập Hóa 12</a></li>
                <li><a href="https://m.hoc247.net/hoa-hoc-12/bai-tap-6-5-trang-14-sbt-hoa-hoc-12-bt11014.html">Bài 5 trang 28 Sách bài tập Hóa 12</a></li>
                <li><a href="https://m.hoc247.net/hoa-hoc-12/bai-tap-6-6-trang-14-sbt-hoa-hoc-12-bt11016.html">Bài 6 trang 28 Sách bài tập Hóa 12</a></li>
                <li><a href="https://m.hoc247.net/hoa-hoc-12/bai-tap-6-6-trang-14-sbt-hoa-hoc-12-bt11016.html">Bài 7 trang 28 Sách bài tập Hóa 12</a></li>
            </ul>
        </div>
    </div>
</div>