<div class="giua">
    <div class="xuong container centered text-center">
      <div class="row justify-content-center">
        <div class="col-md-4">
          <div class="card" >
            <img src="../assets/Pictures/Screenshot 2024-05-12 231320.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Đề Thi HK1 Vật Lí 12 Sở GD Bắc Ninh 2023-2024 <br> Có Đáp Án
              </h5>
              <a href="https://thuvienhoclieu.com/de-thi-hk1-vat-li-12-so-gd-bac-ninh-2023-2024-co-dap-an/#google_vignette" class="btn btn-primary">Truy cập</a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card"  >
            <img src="../assets/Pictures/Screenshot 2024-05-12 231320.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Đề cuối kì 1 Vật lí 12 năm 2023 – 2024 trường THPT Hồ Nghinh – Quảng Nam
              </h5>
              <a href="https://thi247.com/de-cuoi-ki-1-vat-li-12-nam-2023-2024-truong-thpt-ho-nghinh-quang-nam/" class="btn btn-primary">Truy cập</a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card"  >
            <img src="../assets/Pictures/Screenshot 2024-05-12 231320.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Đề cuối học kì 1 Vật lí 12 năm 2023 – 2024 trường THPT Bình Chiểu – TP HCM
              </h5>
              <a href="https://thi247.com/de-cuoi-hoc-ki-1-vat-li-12-nam-2023-2024-truong-thpt-binh-chieu-tp-hcm/" class="btn btn-primary">Truy cập</a>
            </div>
          </div>
        </div>
      </div>
    </div> 
  <div class="container centered text-center">
    <div class="row justify-content-center">
      <div class="col-md-4">
        <div class="card"  >
          <img src="../assets/Pictures/Screenshot 2024-05-12 231320.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Đề thi cuối học kỳ 2 Vật lý 12 năm 2020 – 2021 sở GD&ĐT Quảng Nam
  
            </h5>
            <a href="https://thi247.com/de-thi-cuoi-hoc-ky-2-vat-ly-12-nam-2020-2021-so-gddt-quang-nam/" class="btn btn-primary">Truy cập</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card"  >
          <img src="../assets/Pictures/Screenshot 2024-05-12 231320.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Đề cuối học kỳ 2 Vật lí 12 năm 2022 – 2023 sở GD&ĐT <br> Nam Định
            </h5>
            <a href="https://thi247.com/de-cuoi-hoc-ky-2-vat-li-12-nam-2022-2023-so-gddt-nam-dinh/" class="btn btn-primary">Truy cập</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card"  >
          <img src="../assets/Pictures/Screenshot 2024-05-12 231320.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Đề kiểm tra cuối học kỳ 2 Vật lý 12 năm 2021 – 2022 sở GD&ĐT <br> Bình Dương
            </h5>
            <a href="https://thi247.com/de-kiem-tra-cuoi-hoc-ky-2-vat-ly-12-nam-2021-2022-so-gddt-binh-duong/" class="btn btn-primary">Truy cập</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  
  
  <div class="container centered text-center">
    <div class="row justify-content-center">
      <div class="col-md-4">
        <div class="card"  >
          <img src="../assets/Pictures/Screenshot 2024-05-12 231320.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Đề thi tham khảo môn Vật lý tốt nghiệp THPT <br> năm 2024
            </h5>
            <a href="https://xaydungchinhsach.chinhphu.vn/de-thi-tham-khao-mon-vat-ly-tot-nghiep-thpt-nam-2024-119240322092939535.htm" class="btn btn-primary">Truy cập</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card"  >
          <img src="../assets/Pictures/Screenshot 2024-05-12 231320.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Đề thi thử tốt nghiệp THPT 2024 môn Lý - Sở GD <br> Cà Mau
  
            </h5>
            <a href="https://thi.tuyensinh247.com/de-thi-thu-tot-nghiep-thpt-2024-mon-ly-so-gd-ca-mau-co-dap-an-c31a81235.html#google_vignette" class="btn btn-primary">Truy cập</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card"  >
          <img src="../assets/Pictures/Screenshot 2024-05-12 231320.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Đề thi thử tốt nghiệp THPT môn Lý 2024 - THPT Chuyên Hưng Yên (Có đáp án)
            </h5>
            <a href="https://thi.tuyensinh247.com/de-thi-thu-tot-nghiep-thpt-mon-li-2024-thpt-chuyen-hung-yen-c31a80632.html" class="btn btn-primary">Truy cập</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  
  
  </div>