<div class="container-fluid">
    <div class="row ">
        <div id="left" class="col-lg-3 col-md-4">
            <h3>Chương 1: Dao động cơ</h3>
            <ul>
                <li><a href="C1_bai1.html">Bài 1: Dao động điều hòa</a></li>
                <li><a href="C1_bai2_ly.html">Bài 2: Con lắc lò xo</a></li>
                <li><a href="C1_bai3.html">Bài 3: Con lắc đơn</a></li>
                <li><a href="C1_bai4.html">Bài 4: Dao động tắt dần và dao động cưỡng bức </a></li>
                <li><a href="C1_bai5.html">Bài 5: Tổng hợp hai dao động điều hòa cùng phương, cùng tần số và Phương pháp Fre-Nen</a></li>
                
            </ul>
            <hr>
            <h3>Chương 2: Dòng điện xoay chiều</h3>
            <ul>
                
                    <li><a href="C2_bai6.html">Bài 6: Sóng cơ và sự truyền sóng cơ</a></li>
                    <li><a href="C2_bai7.html">Bài 7: Giao thoa sóng</a> </li>
                    <li><a href="C2_bai8.html">Bài 8: Sóng dừng</a></li>
                    <li><a href="C2_bai9.html">Bài 9: Đặc trưng vật lý của âm</a></li>
                    <li><a href="C2_bai10.html">Bài 10: Đặc trưng sinh lí của âm</a></li>

                
            </ul>
            <hr>
            <h3>Chương 3: Dòng điện xoay chiều</h3>
            <ul>
                <li><a href="C3_bai11.html">Bài 11: Đại cương về dòng điện xoay chiều</a></li>
                <li><a href="C3_bai12.html">Bài 12: Các mạch điện xoay chiều</a> </li>
                <li><a href="C3_bai13.html">Bài 13: Ứng dụng của tích phân trong hình học</a></li>
                <li><a href="C3_bai14.html">Bài 14: Công suất điện tiêu thụ của mạch điện xoay chiều và hệ số công suất</a></li>
                <li><a href="C3_bai15.html">Bài 15: Truyền tải điện năng và máy biến áp</a></li>
                <li><a href="C3_bai16.html">Bài 16: Máy phát điện xoay chiều</a></li>
                <li><a href="C3_bai17.html">Bài 17: Động cơ không đồng bộ ba pha</a></li>
             
            </ul>
            <hr>
            <h3>Chương 4: Dao động và sóng điện từ</h3>
            <ul>
                <li><a href="C4_bai18.html">Bài 18: Mạch dao động</a></li>
                <li><a href="C4_bai19.html">Bài 19: Điện từ trường</a> </li>
                <li><a href="C4_bai20.html">Bài 20: Sóng điện từ</a></li>
                <li><a href="C4_bai21.html">Bài 21: Nguyên tắc thông tin liên lạc bằng sóng vô tuyến</a></li>
                
            </ul>
        
              <h3>Chương 5: Sóng ánh sáng</h3>
            <ul>
                <li><a href="C5_bai22.html">Bài 22: Tắc sắc ánh sáng</a></li>
                <li><a href="C5_bai23.html">Bài 23: Giao thoa ánh sáng</a></li>
                <li><a href="C5_bai24.html">Bài 24: Các loại quang phổ</a></li>
                <li><a href="C5_bai25.html">Bài 25: Tia hồng ngoại và tia tử ngoại</a></li>
                <li><a href="C5_bai26.html">Bài 26: Tia X</a></li>
                
            </ul>
            <hr>
            <h3>Chương 6: Hạt nhân nguyên tử</h3>
            <ul>
                
                    <li><a href="C6_bai27.html">Bài 27: Tính chất và cấu tạo hạt nhân</a></li>
                    <li><a href="C6_bai28.html">Bài 28: Năng lượng liên kết của hạt nhân và phản ứng hạt nhân</a> </li>
                    <li><a href="C6_bai29.html">Bài 29: Phóng xạ</a></li>
                    <li><a href="C6_bai30.html">Bài 30: Phản ứng phân hạch</a></li>
                   

                
            </ul>
        </div>

        
        
        
        <div id="right" class="col-lg-9 col-md-8">
            <ul>
                <li><a href="https://m.hoc247.net/vat-ly-12/bai-10-dac-trung-vat-ly-cua-am-l1061.html">Lý thuyết</a></li>
                <br>
                <li><a href="https://hoc247.net/vat-ly-12/bai-tap-1-trang-8-sgk-vat-ly-12-bt767.html">Bài 1 trang 55 Sách giáo khoa Vật lý 12</a> </li>
                <li><a href="https://m.hoc247.net/vat-ly-12/bai-tap-2-trang-8-sgk-vat-ly-12-bt768.html">Bài 2 trang 55 Sách giáo khoa Vật lý 12</a></li>
                <li><a href="https://m.hoc247.net/vat-ly-12/bai-tap-3-trang-8-sgk-vat-ly-12-bt769.html">Bài 3 trang 55 Sách giáo khoa Vật lý 12</a></li>
                <li><a href="https://m.hoc247.net/vat-ly-12/bai-tap-4-trang-8-sgk-vat-ly-12-bt770.html">Bài 4 trang 55 Sách giáo khoa Vật lý 12</a></li>
                <li><a href="https://m.hoc247.net/vat-ly-12/bai-tap-5-trang-8-sgk-vat-ly-12-bt771.html">Bài 5 trang 55 Sách giáo khoa Vật lý 12</a></li>
                <li><a href="https://m.hoc247.net/vat-ly-12/bai-tap-6-trang-8-sgk-vat-ly-12-bt772.html">Bài 6 trang 55 Sách giáo khoa Vật lý 12</a></li>
                <li><a href="https://m.hoc247.net/vat-ly-12/bai-tap-7-trang-9-sgk-vat-ly-12-bt773.html">Bài 7 trang 55 Sách giáo khoa Vật lý 12</a></li>
                <li><a href="https://m.hoc247.net/vat-ly-12/bai-tap-8-trang-9-sgk-vat-ly-12-bt774.html">Bài 8 trang 55 Sách giáo khoa Vật lý 12</a></li>
                <li><a href="https://m.hoc247.net/vat-ly-12/bai-tap-9-trang-9-sgk-vat-ly-12-bt775.html">Bài 9 trang 55 Sách giáo khoa Vật lý 12</a></li>
                <li><a href="https://m.hoc247.net/vat-ly-12/bai-tap-10-trang-9-sgk-vat-ly-12-bt776.html">Bài 10 trang 55 Sách giáo khoa Vật lý 12</a></li>
                <br>

                <li><a href="https://m.hoc247.net/vat-ly-12/bai-tap-1-1-trang-3-sbt-vat-ly-12-bt10843.html">Bài 1 trang 26 Sách bài tập Vật lý 12</a></li>
                <li><a href="https://m.hoc247.net/vat-ly-12/bai-tap-1-2-trang-3-sbt-vat-ly-12-bt10846.html">Bài 2 trang 26 Sách bài tập Vật lý 12</a></li>
                <li><a href="https://m.hoc247.net/vat-ly-12/bai-tap-1-3-trang-3-sbt-vat-ly-12-bt10850.html">Bài 3 trang 26 Sách bài tập Vật lý 12</a></li>
                <li><a href="https://m.hoc247.net/vat-ly-12/bai-tap-1-4-trang-3-sbt-vat-ly-12-bt10852.html">Bài 4 trang 27 Sách bài tập Vật lý 12</a></li>
                <li><a href="https://m.hoc247.net/vat-ly-12/bai-tap-1-5-trang-3-sbt-vat-ly-12-bt10853.html">Bài 5 trang 27 Sách bài tập Vật lý 12</a></li>
                <li><a href="https://m.hoc247.net/vat-ly-12/bai-tap-1-6-trang-4-sbt-vat-ly-12-bt10856.html">Bài 6 trang 27 Sách bài tập Vật lý 12</a></li>
                
                
                
            </ul>
        </div>
    </div>
</div>