<div class="giua">
    <div class="xuong container centered text-center">
      <div class="row justify-content-center">
        <div class="col-md-4">
          <div class="card"   >
            <img src="../assets/Pictures/toan.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Đề kiểm tra học kì 1 Toán 12 năm 2023 – 2024 sở GD&ĐT Bình Thuận</h5>
              <a href="https://toanmath.com/2024/01/de-kiem-tra-hoc-ki-1-toan-12-nam-2023-2024-so-gddt-binh-thuan.html" class="btn btn-primary">Truy cập</a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card"   >
            <img src="../assets/Pictures/toan.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Đề cuối học kỳ 1 Toán 12 năm 2023 – 2024 trường THPT Hướng Hóa – Quảng Trị</h5>
              <a href="https://toanmath.com/2024/01/de-cuoi-hoc-ky-1-toan-12-nam-2023-2024-truong-thpt-huong-hoa-quang-tri.html" class="btn btn-primary">Truy cập</a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card"   >
            <img src="../assets/Pictures/toan.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Đề cuối kỳ 1 Toán 12 năm 2023 – 2024 trường THPT Bình Chiểu – TP HCM
              </h5>
              <a href="https://toanmath.com/2024/01/de-cuoi-ky-1-toan-12-nam-2023-2024-truong-thpt-binh-chieu-tp-hcm.html" class="btn btn-primary">Truy cập</a>
            </div>
          </div>
        </div>
      </div>
    </div> 
  <br><br>
  <div class="container centered text-center">
    <div class="row justify-content-center">
      <div class="col-md-4">
        <div class="card"   >
          <img src="../assets/Pictures/toan.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Đề cuối học kỳ 2 Toán 12 năm 2023 – 2024 trường THPT Bình Giang – Hải Dương</h5>
            <a href="https://toanmath.com/2024/05/de-cuoi-hoc-ky-2-toan-12-nam-2023-2024-truong-thpt-binh-giang-hai-duong.html" class="btn btn-primary">Truy cập</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card"   >
          <img src="../assets/Pictures/toan.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Đề cuối học kì 2 Toán 12 năm 2023 – 2024 trường THPT Ngô Quyền – Thái Nguyên
            </h5>
            <a href="https://toanmath.com/2024/05/de-cuoi-hoc-ki-2-toan-12-nam-2023-2024-truong-thpt-ngo-quyen-thai-nguyen.html" class="btn btn-primary">Truy cập</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card"   >
          <img src="../assets/Pictures/toan.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Đề cuối học kỳ 2 Toán 12 năm 2023 – 2024 trường Lạc Hồng – TP HCM
            </h5>
            <a href="https://toanmath.com/2024/05/de-cuoi-hoc-ky-2-toan-12-nam-2023-2024-truong-lac-hong-tp-hcm.html" class="btn btn-primary">Truy cập</a>
          </div>
        </div>
      </div>
    </div>
  </div> 
  
  <br><br>
  
  <div class="container centered text-center">
    <div class="row justify-content-center">
      <div class="col-md-4">
        <div class="card"   >
          <img src="../assets/Pictures/toan.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Đề thi thử TN THPT 2024 lần 2 môn Toán trường chuyên Lê Khiết – Quảng Ngãi
            </h5>
            <a href="https://toanmath.com/2024/05/de-thi-thu-tn-thpt-2024-lan-2-mon-toan-truong-chuyen-le-khiet-quang-ngai.html" class="btn btn-primary">Truy cập</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card"   >
          <img src="../assets/Pictures/toan.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Đề thi thử Toán tốt nghiệp THPT 2024 lần 2 trường chuyên Lê Quý Đôn – Đà Nẵng
            </h5>
            <a href="https://toanmath.com/2024/04/de-thi-thu-toan-tot-nghiep-thpt-2024-lan-2-truong-chuyen-le-quy-don-da-nang.html" class="btn btn-primary">Truy cập</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card"   >
          <img src="../assets/Pictures/toan.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Đề khảo sát chất lượng Toán 12 lần 2 năm 2023 – 2024 sở GD&ĐT Thanh Hóa
            </h5>
            <a href="https://toanmath.com/2024/04/de-khao-sat-chat-luong-toan-12-lan-2-nam-2023-2024-so-gddt-thanh-hoa.html" class="btn btn-primary">Truy cập</a>
          </div>
        </div>
      </div>
    </div>
  </div> 
  
  
  
  </div>