<div class="container-fluid">
    <div class="row">
        <div id="left" class="col-lg-3 col-md-4">
            <h3>Chương 1:Ứng dụng đạo hàm để khảo sát và vẽ đồ thị của hàm số</h3>
            <ul>
                <li><a href="C1_bai1_Toan.html">Bài 1:Sự đồng biến, nghịch biến của hàm số</a></li>
                <li><a href="C1_bai2_Toan.html">Bài 2: Cực trị của hàm số</a></li>
                <li><a href="C1_bai3_Toan.html">Bài 3: Giá trị lớn nhất và giá trị nhỏ nhất của hàm số</a></li>
                <li><a href="C1_bai4_Toan.html">Bài 4: Đường tiệm cận</a></li>
                <li><a href="C1_bai5_Toan.html">Bài 5: Khảo sát sự biến thiên và vẽ đồ thị của hàm số</a></li>
                <li><a href="ontap_C1_Toan.html">Ôn tập chương I</a></li>
            </ul>
            <hr>
            <h3>Chương 2: Hàm số lũy thừa. Hàm số mũ và hàm số logarit</h3>
            <ul>
                
                    <li><a href="C2_bai1_Toan.html">Bài 1: Lũy thừa</a></li>
                    <li><a href="C2_bai2_Toan.html">Bài 2: Hàm số lũy thừa</a> </li>
                    <li><a href="C2_bai3_Toan.html">Bài 3: Lôgarit</a></li>
                    <li><a href="C2_bai4_Toan.html">Bài 4: Hàm số mũ. Hàm số lôgarit</a></li>
                    <li><a href="C2_bai5_Toan.html">Bài 5: Phương trình mũ và phương trình lôgarit</a></li>
                    <li><a href="C2_bai6_Toan.html">Bài 6: Bất phương trình mũ và bất phương trình lôgarit</a></li>
                    <li><a href="ontap_C2_Toan.html">Ôn tập chương II</a></li>
                
            </ul>
            <hr>
            <h3>Chương 3: Nguyên hàm - Tích phân và ứng dụng</h3>
            <ul>
                <li><a href="C3_bai1_Toan.html">Bài 1: Nguyên hàm</a></li>
                <li><a href="C3_bai2_Toan.html">Bài 2: Tích phân</a> </li>
                <li><a href="C3_bai3_Toan.html">Bài 3: Ứng dụng của tích phân trong hình học</a></li>
                <li><a href="ontap_C3_Toan.html">Ôn tập chương III</a></li>
            </ul>
            <hr>
            <h3>Chương 4: Số phức</h3>
            <ul>
                <li><a href="C4_bai1_Toan.html">Bài 1: Số phức</a></li>
                <li><a href="C4_bai2_Toan.html">Bài 2: Cộng, trừ và nhân số phức</a> </li>
                <li><a href="C4_bai3_Toan.html">Bài 3: Phép chia số phức</a></li>
                <li><a href="C4_bai4_Toan.html">Bài 4: Phương trình bậc hai với hệ số thực</a></li>
                <li><a href="ontap_C4_Toan.html">Ôn tập chương IV</a></li>
            </ul>
        </div>

        
        
        
        <div id="right" class="col-lg-9 col-md-8">
            
            <ul>
                <li><a href="https://hoc247.net/toan-12/bai-1-su-dong-bien-nghich-bien-cua-ham-so-l4230.html">Lý thuyết</a></li>
                <li><a href="https://hoc247.net/toan-12/bai-tap-1-trang-9-sgk-giai-tich-12-bt1.html">Bài 1 trang 9 Sách giáo khoa Giải tích 12</a> </li>
                <li><a href="https://hoc247.net/toan-12/bai-tap-2-trang-10-sgk-giai-tich-12-bt2.html">Bài 2 trang 10 Sách giáo khoa Giải tích 12</a></li>
                <li><a href="https://hoc247.net/toan-12/bai-tap-2-trang-10-sgk-giai-tich-12-bt2.html">Bài 3 trang 10 Sách giáo khoa Giải tích 12</a></li>
                <li><a href="https://hoc247.net/toan-12/bai-tap-3-trang-10-sgk-giai-tich-12-bt3.html">Bài 4 trang 10 Sách giáo khoa Giải tích 12</a> </li>
                <li><a href="https://hoc247.net/toan-12/bai-tap-4-trang-10-sgk-giai-tich-12-bt4.html">Bài 5 trang 10 Sách giáo khoa Giải tích 12</a></li> 
                <br>

                <li><a href="https://hoc247.net/toan-12/bai-tap-1-1-trang-7-sbt-toan-12-bt16220.html">Bài 1 trang 7 Sách bài tập Toán 12</a></li>
                <li><a href="https://m.hoc247.net/toan-12/bai-tap-1-2-trang-7-sbt-toan-12-bt16231.html">Bài 2 trang 7 Sách bài tập Toán 12</a></li>
                <li><a href="https://m.hoc247.net/toan-12/bai-tap-1-3-trang-8-sbt-toan-12-bt16248.html">Bài 3 trang 8 Sách bài tập Toán 12</a></li>
                <li><a href="https://m.hoc247.net/toan-12/bai-tap-1-4-trang-8-sbt-toan-12-bt16253.html">Bài 4 trang 8 Sách bài tập Toán 12</a></li>
                <li><a href="https://m.hoc247.net/toan-12/bai-tap-1-5-trang-8-sbt-toan-12-bt16256.html">Bài 5 trang 8 Sách bài tập Toán 12</a></li>
                <li><a href="https://m.hoc247.net/toan-12/bai-tap-1-6-trang-8-sbt-toan-12-bt16260.html">Bài 6 trang 8 Sách bài tập Toán 12</a></li>
                <li><a href="https://m.hoc247.net/toan-12/bai-tap-1-7-trang-8-sbt-toan-12-bt16264.html">Bài 7 trang 8 Sách bài tập Toán 12</a></li>
                <li><a href="https://m.hoc247.net/toan-12/bai-tap-1-8-trang-8-sbt-toan-12-bt16278.html">Bài 8 trang 8 Sách bài tập Toán 12</a></li>
                <br>

                <li><a href="https://m.hoc247.net/toan-12/bai-tap-1-trang-7-sgk-toan-12-nc-bt21623.html">Bài 1 trang 7 Sách giáo khoa Toán 12 nâng cao</a></li>
                <li><a href="https://m.hoc247.net/toan-12/bai-tap-2-trang-7-sgk-toan-12-nc-bt21624.html">Bài 2 trang 7 Sách giáo khoa Toán 12 nâng cao</a></li>
                <li><a href="https://m.hoc247.net/toan-12/bai-tap-3-trang-8-sgk-toan-12-nc-bt21626.html">Bài 3 trang 8 Sách giáo khoa Toán 12 nâng cao</a></li>
                <li><a href="https://m.hoc247.net/toan-12/bai-tap-4-trang-8-sgk-toan-12-nc-bt21627.html">Bài 4 trang 8 Sách giáo khoa Toán 12 nâng cao</a></li>
                
            </ul>
      
    </div>
</div>