 <!-- start section-profile  -->
 <section class="section-profile">
    <div class="section-profile__content">
      <div class="section-profile__content--background">
        <include src="./components/boxImg.html" locals='{
          "list": [
           {"classNameFigure": "background", "classNameImg": "", "srcImg": "../assets/img/images.jpg", "alts": "background"}
          ]
        }'>
          
        </include>
      </div>
      <div class="section-profile__content--avatar">
        <include src="./components/boxImg.html" locals='{
          "list": [
           {"classNameFigure": "avatar", "classNameImg": "", "srcImg": "../assets/img/channels4_profile.jpg", "alts": "avatar"}
          ]
        }'>
          
        </include>
      </div>
      <div class="section-profile__content--information">
        <p class="information--name information-text">Vuong Ngoc Thuan</p>
        <p class="information--level information-text">ID: 1</p>
        <p class="information--idUser information-text">Trình độ: 1</p>
        <p class="information--experience information-text">Kinh nghiệm: 99999</p>
      </div>
    </div>
  </section>
  <!-- end section-profile  -->